<!-- Default card starts -->
<div class="pmd-card{% if card.style_inline %} pmd-card-media-inline{% endif %}{% if card.style_inverse %} pmd-card-inverse{% else %} pmd-card-default{% endif %} pmd-z-depth col-md-{{ card.width }}">

    {% if card.header and not card.style_inline %}
	<!-- Card header -->
    {{ card.header.as_html|safe }}
    {% endif %}

    {% if card.media %}
    <!-- Card media -->
    <div class="pmd-card-media">
        {% if card.style_inline %}
        <div class="media-body">
            {% if card.primary_title %}
            {{ card.primary_title.as_html|safe }}
            {% endif %}
            {% if card.secondary_title %}
            {{ card.secondary_title.as_html|safe }}
            {% endif %}
        </div>

        <!-- Card media image -->
        <div class="media-right media-middle">
            {{ card.media|safe }}
        </div>
        {% else %}
        {{ card.media|safe }}
        {% endif %}

    </div>
    {% endif %}

    {% if not card.style_inline %}
    {% if card.primary_title or card.secondary_title %}
    <!-- Card body -->
    <div class="pmd-card-title">
        {% if card.primary_title %}
        {{ card.primary_title.as_html|safe }}
        {% endif %}
        {% if card.secondary_title %}
        {{ card.secondary_title.as_html|safe }}
        {% endif %}
    </div>
    {% endif %}

    {% if card.body %}
    {{ card.body.as_html|safe }}
    {% endif %}
    {% endif %}

    {% if card.media_actions %}
    <!-- Card media actions -->
    {{ card.media_actions.as_html|safe }}
    {% endif %}

    {% if card.actions %}
    <!-- Card actions -->
    {{ card.actions.as_html|safe }}
    {% endif %}
</div>
<!--Default card ends -->
